<html><body><div>Hi {{ first_name }},</div>
    <div>&nbsp;</div>
    <div>Welcome to the world of Senna! We're beyond excited to have you join our journey into natural, radiant skin.</div>
    <div>&nbsp;</div>
    <div>At Senna, we believe that beautiful, glowing skin shouldn't require harmful UV exposure. Our products are designed to enhance your natural beauty while nourishing your skin with premium, all-natural ingredients.</div>
    <div>&nbsp;</div>
    <div>We're excited to introduce our signature product, the Sunless Tanning Drops. Made with our unique blend of melanin-boosting ingredients, these drops are crafted to provide you with a natural-looking tan from within&mdash;perfect for achieving that sun-kissed glow year-round without the damage.</div>
    <div>&nbsp;</div>
    <div>As a warm welcome, we'd love to offer you 10% off your first purchase so you can experience the transformative power of Senna.</div>
    <div>&nbsp;</div>
    <div>USE CODE: <strong>{% coupon_code 'Welcome10' %}</strong>&nbsp;at checkout today.</div>
    <div>&nbsp;</div>
    <div>Discover the perfect blend of nature and science with Senna, and <a href="https://sennalife.shop/products/sl">make every day a little more radiant &gt;&gt;</a></div>
    <div>&nbsp;</div>
    <div>Stay glowing,</div>
    <div>&nbsp;</div>
    <div>Your Senna Team</div></body></html>